<!doctype html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>PlusTuT管理后台</title>
	<link rel="stylesheet" href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.css">
	<script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>
	<link rel="icon" href="http://www.wclimb.site/images/avatar.png">
	<link href="http://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
	<style>
		img{
			width: 50px;
		}
		.right .item {
			margin: 0 -0.5em!important;
		}
		th,td{
			text-align: center!important;
		}
		#page{
			display: table;
			margin: 20px auto;
		}
		#page a{
			padding: 5px 10px;
			border:1px solid #ddd;
			color: #428bca;
			margin: 0 2px;
			border-radius: 4px;
		}
		#page a:hover{
			background: #428bca;
			color: #fff;
			
		}
		#page a.active{
			background: #428bca;
			color: #fff;
		}
		#page span{
			margin-left: 5px;
		}
		html, body{
			margin:0px;
			padding:0px;
			height:95%;
		}
	</style>
	<script>
		function init() {
			scheduler.config.xml_date="%Y-%m-%d %H:%i";
			scheduler.init('scheduler_here',new Date(2018,8,4),"month");
			scheduler.templates.xml_date = function(value){ return new Date(value); };
			scheduler.load("/data", "json");
			var dp = new dataProcessor("/data");
			dp.init(scheduler);
			dp.setTransactionMode("POST", false);
		}
	</script>
</head>
<body onload="init();">
	<div class="ui inverted segment"  style="margin-top: 0;">
		<div class="ui inverted secondary menu">
			<a class="item"  href="/admin/classlist?page=1">课程</a>
			<a class="item" href="/admin">文章</a>
			<a class="item" href="/admin/upload">上传数据</a>
			<a class="item" href="/admin/adminUser?page=1">后台管理员列表</a>
			<a class="item" href="/admin/mobileUser?page=1">用户列表</a>
			<a class="item" href="/admin/comment?page=1">用户评论</a>
			<a class="item" href="/admin/like?page=1">喜欢/不喜欢</a>
			<a class="item" href="/admin/calendar">日历</a>
		</div>
	</div>
	<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
		<div class="dhx_cal_navline">
			<div class="dhx_cal_prev_button">&nbsp;</div>
			<div class="dhx_cal_next_button">&nbsp;</div>
			<div class="dhx_cal_today_button"></div>
			<div class="dhx_cal_date"></div>
			<div class="dhx_cal_tab" name="day_tab"></div>
			<div class="dhx_cal_tab" name="week_tab"></div>
			<div class="dhx_cal_tab" name="month_tab" ></div>
		</div>
		<div class="dhx_cal_header">
		</div>
		<div class="dhx_cal_data">
		</div>
	</div>
</body>