<% include header %>
	<table class="ui striped table">
	 	<thead>
	    	<tr>
		      	<th>ID</th>
		      	<th>课程名</th>
				  <th>课程老师id</th>
				  <th>收费标准</th>
	    	</tr>
	  	</thead>
	</table>
	<%- include("pagination",{type:'classlist'}) %>
<% include footer %> 