<% include header %>

<div class="ui form segment" onsubmit="return"  style="width: 60%;margin:0 auto 40px">
  <div class="field">
    <label>课程名称</label>
    <input type="text" name="class_name" placeholder="课程名称">
  </div>
  <div class="fields equal width">
    <div class="field">
      <label>老师名字</label>
      <select class="ui fluid search dropdown" name="teacher_name">
        <option value="">老师</option>
        <option value="佟泽洲">佟泽洲</option>
        <option value="李老师@小米">李老师@小米</option>
        <option value="任婉暄">任婉暄</option>
        <option value="其他">其他</option>
      </select>
    </div>
    <div class="field">
      <label>老师id</label>
      <input type="text" name="teacher_id" placeholder="老师id">
    </div>
    <!-- <div class="fields">
      <div class="field">
       <label>作者图片</label>
       <input type="file" name="file" multiple>
      </div>
    </div>
	  <div class="field">
	    <label>时间</label>
	    <input type="date" name="time" placeholder="时间">
	  </div> -->
  </div>

  <div class="field">
    <label>上课时间</label>
  </div>
  <div class="fields equal width">
    <input type="time" name="start_time" placeholder="开始时间">
    <label>  至  </label>
    <input type="time" name="end_time" placeholder="结束时间">
  </div>

  <div class="field">
    <label>上课日期</label>
    <input type="date" name="class_start_date" placeholder="上课起始日期">
    <label> 至 </label>
    <input type="date" name="class_end_date" placeholder="上课结束日期">
  </div>

  <div class="field">
      <label>哪天上课</label>
      <select class="ui fluid search dropdown" name="weekday">
        <option value="">星期</option>
        <option value="星期日">星期日</option>
        <option value="星期一">星期一</option>
        <option value="星期二">星期二</option>
        <option value="星期三">星期三</option>
        <option value="星期四">星期四</option>
        <option value="星期五">星期五</option>
        <option value="星期六">星期六</option>
      </select>
    </div>

  <div class="field">
    <label>课程价格</label>
    <input type="text" name="price" placeholder="课程价格">
  </div>
  
  <div class="field">
    <label>课程描述</label>
    <textarea placeholder="课程描述" name="description"></textarea>
  </div>
  <div class="ui button submit">Submit</div>
  <div class="ui reset button">重置</div>
  <div class="ui clear button">清除提示</div>
</div>

<div class="ui form segment" onsubmit="return"  style="width: 60%;margin:0 auto 40px">
  <div class="field">
    <label>文章名称</label>
    <input type="text" name="articlename" placeholder="文章名称">
  </div>
  <div class="fields equal width">
    <div class="field">
      <label>作者</label>
      <select class="ui fluid search dropdown" name="authorname">
        <option value="">作者</option>
        <option value="佟泽洲">佟泽洲</option>
        <option value="李老师@小米">李老师@小米</option>
        <option value="任婉暄">任婉暄</option>
        <option value="其他">其他</option>
      </select>
    </div>
    <div class="fields">
      <div class="field">
       <label>作者图片</label>
       <input type="file" name="file" multiple>
      </div>
    </div>
	  <div class="field">
	    <label>时间</label>
	    <input type="date" name="time" placeholder="时间">
	  </div>
  </div>

  <div class="field">
    <label>文章url</label>
    <input type="text" name="url" placeholder="文章url">
  </div>
  
  <div class="field">
    <label>文章描述</label>
    <textarea placeholder="文章描述" name="description"></textarea>
  </div>
  <div class="field">
    <label>文章内容</label>
    <textarea placeholder="文章内容" name="detail"></textarea>
  </div>
  <div class="ui button submit">Submit</div>
  <div class="ui reset button">重置</div>
  <div class="ui clear button">清除提示</div>
</div>



<script>
  $(function(){
    $('select.dropdown').dropdown()
    var formdata = new FormData()
    
    
    var isAllow = true
    if(!isAllow) return
    $('.ui.form')
    .form({
      inline : true,
      on  : 'blur',
      onSuccess: function () {
        isAllow = false;
        ['class_name', 'teacher_id', 'price', 'start_time', 'end_time', 'class_start_date', 'class_end_date'].forEach(function (val) {
            formdata.append(val, $('input[name=' + val + ']').val())
        });
        ['weekday'].forEach(function(val) {
            formdata.append(val, $('select[name=' + val + ']').val())
        });
        formdata.append('weekday', 0);
        formdata.append('description',$('textarea').val());
        $.ajax({
            url: '/admin/uploadClass',
            type: 'POST',
            cache: false,
            data: formdata,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (data) {
                isAllow = true
                if (data.code == 200) {
                    alert('上传成功')
                    location.href = '/admin'
                    formdata = new FormData()
                }else{
                  alert('上传失败')  
                  formdata = new FormData()
                }
            }
        });
      }
       ,
      fields: {
        name: {
          identifier: 'articleName',
          rules: [
            {
              type   : 'empty',
              prompt : '请输入名称！'
            }
          ]
        }
      }
    })
  ;
  })
</script>
<% include footer %>   